<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Document</title>
		<link rel="stylesheet" href="/style.css">
	</head>
	<body>
		{% block header %}
			<header class="header">
				<img src="/logo_white.png" alt="Bit" srcset="" width="100px">
				<div class="header-links">
					<a href="/recipe">Recipes</a>
					<a href="/kitchen">Kitchens</a>
				</div>
			</header>
		{% endblock %}
		
		{% block body %}{% endblock %}
	</body>
</html>
