{% extends "layouts/app.twig" %}

{% block body %}
	<div id="page-container">
		<div class="create-form-container">
			<form action="" method="POST" class="edit-create-form">
				<div class="form-content">
					<label class="recipe-label" for="recipe-name">Name</label>
					<input type="text" name="kitchen-name" class="new-recipe-input" placeholder="New kitchen" required>
					<label class="recipe-label" for="recipe-description">Description</label>
					<textarea name="kitchen-description" class="kitchen-description" rows="5" cols="50"></textarea>
				</div>
				<div class="submit-recipe-container">
					<a href="/kitchen">Back</a>
					<input class="create-recipe-btn" type="submit" value="Create">
				</div>
			</div>
		</form>
	</div>
</div></div>{% endblock %}
